



body {
background-color:#EEE;
width:device-width;
padding-bottom:5%;
padding-left:5%;
padding-right:5%;
padding-top:15%;
vertical-align:middle;
margin:auto;
font-family:"Arial Narrow";
font-size:12px;
}

.floatmenu {
display:block;
text-align:center;
background-color:#4f0000;
color:white;
position:fixed;
width:40px;
height:40px;
border-radius:30px;
border-color:#4f0000;
margin-top:calc(100vh - 120px);
margin-left:calc(100vw - 75px);
z-index:1000;
animation: 2s ease-out;
box-shadow:none;
border:none;
}


.floatmenuyazi {
display:block;
margin-top:auto;
margin-bottom:auto;
z-index:100;
font-size:24px;
}


.floatmenuxyazi{
display:block;
margin-top:auto;
margin-bottom:auto;
z-index:100;
font-size:24px;
}

.floatmenux {
display:block;
text-align:center;
background-color:#c42525;
color:white;
position:fixed;
width:40px;
height:40px;
border-radius:30px;
border-color:#c42525;
margin-top:calc(100vh - 120px);
margin-left:calc(100vw - 75px);
z-index:1000;
animation: 2s ease-out;
box-shadow:none;
border:none;
}

.floatbirim {
display:block;
text-align:center;
background-color:#4f0000;
color:white;
position:fixed;
width:40px;
height:40px;
border-radius:30px;
border-color:#4f0000;
margin-top:calc(100vh - 170px);
margin-left:calc(100vw - 75px);
z-index:1000;
animation: 2s ease-out;
box-shadow:none;
border:none;
}


.floatbirimyazi {
display:block;
margin-top:auto;
margin-bottom:auto;
z-index:100;
font-size:24px;
}


.floatbirimxyazi{
display:block;
margin-top:auto;
margin-bottom:auto;
z-index:100;
font-size:24px;
}

.floatbirimx {
display:block;
text-align:center;
background-color:#c42525;
color:white;
position:fixed;
width:40px;
height:40px;
border-radius:30px;
border-color:#c42525;
margin-top:calc(100vh - 170px);
margin-left:calc(100vw - 75px);
z-index:1000;
animation: 2s ease-out;
box-shadow:none;
border:none;
}

.birim {
width:240px;
height:240px;
border-radius:10px;
background-color:black;
position:fixed;
right:35px;
bottom:100px;
}

.birim fff {
color:white;
position:fixed;
right:170px;
width:80px;
text-align:left;
}

#birimsecim {
width:85px;
position:fixed;
right:60px;
}

#secim1, #secim2{
width:80px;
right:60px;
position:fixed;
}

#birimbuton {
width:80px;
margin-left:80px;
text-align:center;
font-size:12px;
padding:2px;
background-color:gray;
color:white;
border-style:solid;
border-color:black;
border-width:0.1vw;
border-radius:1.5vw;
}





#buton {
margin-top:3vh;
margin-bottom:3vh;
float:center;
padding:1.5vw;
width:70%;
background-color:gray;
color:white;
border-style:solid;
border-color:black;
border-width:0.1vw;
border-radius:1.5vw;
}

#butontaban {
float:center;
padding:1.5vw;
width:70%;
background-color:gray;
color:white;
border-style:solid;
border-color:black;
border-width:0.1vw;
border-radius:1.5vw;
}





table,tr,td {
border: 0.1vw solid black;
border-collapse: collapse;
text-align:center;
width:80vw;
padding-top:1vh;
padding-bottom:1vh;
}


tr,td {
padding-right:1vw;
padding-left:1vw;
}

tr {
height:10vh;
}


nav{
padding-top:2px;
padding-bottom:2px;
text-align:left;
font-size:12px;
margin-left:2.5vw;
float:left;
width:50%;
}

asd{
padding-top:2px;
padding-bottom:2px;
width:40%;
font-size:12px;
}
.asd{
padding-top:2px;
padding-bottom:2px;
width:40%;
font-size:12px;
}
.hclass, .add, .del{
width:60%;
}

select {
padding-top:2px;
padding-bottom:2px;
border-radius:5px;
border:1px black solid;
background-color:gray;
color:white;
width:40%;
font-size:12px;
}
#al1, #al2 {
width:19.5%;
}





#on {
background-color:gray;
color:white;
text-align:center;
border:0.1vw solid black;
}








#tablobas {
background-color:gray;
color:white;
text-align:center;
border:0.1vw solid black;

}

.sidenav{
height:100%;
width:0;
position:fixed;
z-index:1;
top:0;
left:0;
background-color:black;
overflow-x:hidden;
padding-top:8vw;
}


.sidenav a {
padding:8px 8px 8px 32px;
text-decoration:none;
font-size:14px;
color:white;;
display:block;
transition:1s;
}

.sidenav b {
padding:8px 8px 8px 32px;
text-decoration:none;
font-size:14px;
color:white;
display:block;
}


.sidenav a:hover {
color:#f1f1f1;
}


#cekmeceac {
padding-top:2.5vw;
padding-left:5vw;
padding-right:5vw;
padding-bottom:2.5vw;
font-size:5vw;
color:white;
position:fixed;
}

.ustbar {
top:0;
left:0;
right:0;
height:10vw;
background-color:black;
display:inline;
position:fixed;
z-index:0;
width:device-width;
}

#ustbaryazi {
diplay:block;
top:3vw;
left:12vw;
color:white;
position:fixed;
font-size:5vw;
}

table{
margin-left:auto;
margin-right:auto;
}



#main {

font-size:3vw;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




#res {
border: 0.2vw solid black;
border-radius:1vw;
max-width:80%;
height:auto;
display:block;
margin-left:auto;
margin-right:auto;


}